{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}create_lease{% endblock %}
{% block form_action %}{% url 'horizon:project:leases:create' %}{% endblock %}

{% block modal-header %}{% trans "Create New Lease" %}{% endblock %}
{% block modal_id %}create_lease_modal{% endblock %}

{% block modal-body %}
<style>
.datepicker{z-index:1051!important;}
</style>
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
        <div class="alert alert-warning">
            <strong>Node ID and Node Type selection is mutually exclusive.</strong>
        </div>
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Create a new lease with the provided values." %}</p>
    <div class="alert alert-warning">
      <h4>Time zone setting</h4>
      <p>
        {% blocktrans %}
        Your timezone is currently configured as <b>{{timezone}}</b>. If you need to update your
        timezone please go to your
        {% endblocktrans%}
        <a href="{% url 'horizon:settings:user:index' %}">User Settings</a>.
      </p>
      <p>{% trans "Enter the start and end in your current time zone and they will be converted to UTC." %}</p>
    </div>
    <div class="alert">
      <p>
        For specific node reservations, you can find the node UUID using
        <a href="https://www.chameleoncloud.org/user/discovery">Resource Discovery</a>
        on the user portal.
      </p>
    </div>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url 'horizon:project:leases:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
<script type='text/javascript' charset='utf-8'>
    (function(window, horizon, $, undefined) {
        'use strict';

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true
        });

        $('#id_specific_node').on('change keyup paste mouseup', function() {
            if ($(this).val() == '') {
                $('#id_node_type').removeAttr('disabled');
            } else {
                $('#id_node_type').attr('disabled','disabled');
            }
        });

        $('#id_node_type').on('change keyup paste mouseup', function() {
             if ($(this).val() == '') {
                $('#id_specific_node').removeAttr('disabled');
            } else {
                $('#id_specific_node').attr('disabled','disabled');
            }
        });

    })(window, horizon, jQuery);
</script>
{% endblock %}
