{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}
{% load static %}

{% block form_id %}create_lease{% endblock %}
{% block form_action %}{% url 'horizon:project:leases:create' %}{% endblock %}

{% block modal-header %}{% trans "Create New Lease" %}{% endblock %}
{% block modal_id %}create_lease_modal{% endblock %}

{% block modal-body %}
<style>
.datepicker{z-index:1051!important;}
</style>
<div class="left">
    <input id="django_timezone" type="hidden" value="{{timezone}}" />
    <div id="timezone"></div>
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Create a new lease with the provided values." %}</p>
    <div class="alert alert-warning">
      <h4>Time zone setting</h4>
      <p>
        {% blocktrans %}
        Your timezone is currently configured as <b>{{timezone}}</b>. If you need to update your
        timezone please go to your
        {% endblocktrans%}
        <a href="{% url 'horizon:settings:user:index' %}">User Settings</a>.
      </p>
      <p>{% trans "Enter the start and end in your current time zone and they will be converted to UTC." %}</p>
    </div>
    <div class="alert">
      <p>
        For specific node reservations, you can find the node UUID using
        <a href="https://www.chameleoncloud.org/user/discovery">Resource Discovery</a>
        on the user portal.
      </p>
    </div>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create" %}" />
  <a href="{% url 'horizon:project:leases:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
<script type='text/javascript' charset='utf-8'>
    (function(window, horizon, $, undefined) {
        'use strict';

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true
        });

        var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        var offset = new Date().getTimezoneOffset();
        var django_timezone = $('#django_timezone').val();

        if (offset != 0 && django_timezone === 'UTC') {
            $('#timezone').append('Your browser timezone does not appear to be configured to UTC, but your user settings are. Please go to your <a href="{% url 'horizon:settings:user:index' %}">User Settings</a>. if you would like to change this.');
            $('#timezone').addClass('alert');
            $('#timezone').addClass('alert-danger');
        }

    })(window, horizon, jQuery);
</script>
{% endblock %}
