{% extends 'leases/base.html' %}
{% load i18n %}
{% block title %}{% trans "Leases" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Lease Calendar") %}
{% endblock page_header %}

{% block main %}
  <form class="form-inline" name="blazar-gantt-controls">
    <div class="form-group gantt-group">
      <label for="dateStart">Start</label>
      <input class="form-control" type="text" name="dateStart" id="dateStart" style="width:120px" placeholder="MM/DD/YYYY">
      <input class="form-control" type="number" min="00" max="23" name="timeStartHours" id="timeStartHours" style="width:55px" placeholder="hh">
      :
      00
    </div>
    <div class="form-group gantt-group">
      <label for="dateEnd">End</label>
      <input class="form-control" type="text" name="dateEnd" id="dateEnd" style="width:120px" placeholder="MM/DD/YYYY">
      <input class="form-control" type="number" min="00" max="23" name="timeEndHours" id="timeEndHours" style="width:55px" placeholder="hh">
      :
      00
    </div>
    <div class="form-group gantt-group">
      <label for="node-type-chooser">Node Type</label>
      <select disabled class="form-control" id="node-type-chooser" name="node-type-chooser">
        <option value="*">All nodes</option>
      </select>
    </div>
  </form>
  <div id="blazar-gantt">
    <div class="text-center">
      <h2>Loading Reservations<br><i class="fa fa-spinner fa-spin"></i></h2>
    </div>
  </div>
{% endblock %}
